@charset "UTF-8";

body{
    background-color: rgb(152, 152, 241);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: rgb(19, 3, 56);
  }
  h2{
      color: crimson;
  }
  h1#principal{
      text-align: center;
      font-family: fantasy;
      font-size: 50px;
      background-color: crimson;
      color:rgb(152, 152, 241);    
  }
  .basico{
      color: green;
      background-color: rgb(0, 0, 0);

  }
  .intermediario{
      color: red;
      background-color: rgb(208, 255, 0);

  }
  .avancado{
      color: rgb(32, 15, 2);
      background-color: rgb(255, 2, 175);

  }